@import url('https://fonts.googleapis.com/css2?family=Lexend+Mega&family=Roboto+Mono:wght@200;400;500;600;700&display=swap');

:root{
    --primary-color: #004966;
    --off-white: #e0fbff;
    --box-color : #fdf9e8;
 
}

body{
    background-color: var(--off-white);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;    
}

/* container */

.container{
    padding-left: 1rem;
    padding-right: 1rem; 
}

.container-center{
    background-color: crimson;
    margin:auto;
    max-width: 600px;
}

/* navigations */
.navigation{
    font-family: 'Roboto Mono', monospace;
    background-color: var(--primary-color);
    color:white;
    padding: 1rem;
    border-bottom-left-radius: 1.5rem ;
}

.navigation .nav-brand{
    font-weight: bold;
    cursor:pointer;
}

/* sections */

label{
    display: block;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
    width: 60%;
    margin: auto;
}

textarea{
    background-color: var(--box-color);
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 60%;
    max-width: 550px;
    margin: auto;
    height: 11vh;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
}


#btn-translate{
    background-color: rgb(20, 40, 77);
    color: white;
    outline: none;
    border: none;
    display: block;
    border-radius: 1rem;
    padding: 1rem;
    max-width: 220px;
    margin: 1rem auto;
    font-size: larger;
}

#output{
    background-color: var(--box-color);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: larger;
    width: 60%;
    max-width: 550px;
    margin: 1rem auto;
    padding: 1rem;
    height: 15vh;
    border-radius: 1rem;
    border: 1px solid rgb(5, 0, 54);
    font-weight: 500;
    font-size: 1.5rem;
}

/* footers */

.footer{
    background-color: var(--primary-color);
    font-family: 'Lexend Mega', sans-serif;
    padding: 2rem 1rem;
    color: white;
    text-align: center;
    border-top-right-radius: 1.5rem;
}
.footer .footer-header{
    font-weight: bold;
    font-size: 1.2rem;
}
